.container_info_section {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin: 60px;
}

.container_info_section_manager {
  text-align: center;
  padding: 30px 0;
}

.ant-table-pagination.ant-pagination {
  margin: 40px 60px;
}
