.Introduce_container {
  margin-top: 70px;
  margin-bottom: 70px;
  height: auto;
}
.introduce_container_infomation {
  font: message-box;
  font-family: sans-serif;
  padding: 40px 40px 40px 20px;
  text-align: justify;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.introduce_container_infomation h4 {
  font-size: 30px;
  color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
}
.introduce_container_infomation h1 {
  font: message-box;
  font-weight: 540;
  font-family: sans-serif;
  font-size: 22px;
  padding-left: 20px;
}
.introduce_container_infomation p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  display: flex;
  /* justify-content:center; */
  margin-left: 20px;
}

.icon_infomation {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .introduce_container_infomation {
    margin: 40px 40px;
    width: auto;
  }
}
