.business {
  width: 100%;
  /* margin-top: 100px; */
  background-color: #0a0a1c;
  color: rgb(2, 1, 1);
}

.business .action {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #dee2e6;
  padding: 40px 10%;
  align-items: center;
  height: 20px;
}

.business .action h1,
.business .action p {
  color: #090910;
  margin: 0;
  font-weight: 700;
}

.business .action h1 {
  font-size: 40px;
}

.business .action p {
  font-size: 16px;
  font-weight: 500;
}

.action_heart div {
  display: inline-flex;
  box-sizing: border-box;
  color: #27ae60;
  background-color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 20px 40px;
  border-radius: 60px;
  border: 4px solid wheat;
  cursor: pointer;
}
.business .action_heart p {
  margin-right: 20px;
}
.logo_business {
  font-size: 50px;
}
