.MarketingSection {
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  color: #0f0824;
}

.MarketingHeading {
  font-size: 5rem;
  padding: 2rem 5%;
}

.MarketingWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 5%;
}

.MarketingContent h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
  /* font-weigth:600; */
  line-height: 4rem;
}

.MarketingContent h5 {
  color: grey;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  /* font-weigth:500; */
}

.MarketingContent p {
  font-size: 1.7rem;
  line-height: 3rem;
}

@media (max-width: 991px) {
  .p {
    line-height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .MarketingWrap {
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }
}
