.hero {
	background-image: url("../../assets/images/location/banner4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-bottom: 50px;
}
.hero .container {
	padding-top: 15%;
}
.titleName {
	text-align: center;
	text-transform: capitalize;
	font-size: xxx-large;
	color: #0d0d0d;
	margin: 50px 0;
	position: relative;
}
.titleH3 {
	text-transform: capitalize;
	font-size: x-large;
	color: #0d0d0d;
	position: relative;
}
.hero h1 {
	color: #000;
	font-size: 60px;
}
.hero p {
	color: #fff;
	opacity: 0.8;
	display: flex;
	color: #726a95;
}
form {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 50px;
	/* padding: 0 20px; */
}
form select {
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(128, 128, 128, 0.2);
	margin-top: 5px;
	border-radius: 5px;
}

form span {
	font-size: 14px;
	color: #000;
}
input::placeholder {
	font-size: 17px;
	color: black;
}
form .box {
	padding: 15px;
	border-left: 1px solid rgba(128, 128, 128, 0.2);
	width: 25%;
}
form .box:nth-child(1) {
	border-left: none;
}
form h4 {
	font-weight: 500;
}

.range-container {
	justify-content: center;
	align-items: center;
	width: 83%;
	margin-right: 100px;
}
.search-container {
	justify-content: center;
	align-items: center;
	width: 83%;
	margin-right: 100px;
}
.search_space {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}
.search {
	width: 100%;
	color: #000;
}
.number {
	margin-bottom: 7px;
}
.range {
	padding: 0 10px;
	width: 50%;
}

@media screen and (max-width: 800px) {
	.hero .container {
		padding-top: 30%;
	}
	form {
		display: flex;
		flex-wrap: wrap;
	}
	form .box {
		border-left: none;
		height: auto;
	}
	form input {
		width: 100%;
	}
}
